
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif, Times, serif, Courier, serif;
  margin: 2%;
}

h1,h2,h3,h4 {
  font-family: Verdana, Tahoma, sans-serif, Times, serif, Courier, serif;
  }


a {
  color: darkslategray;
}

.header {
  color: darkslategray;
  height: auto;
}

.header h1 {
  font-size: 50px;
  padding: 20px 20px 20px 20px;
  background: darkslategrey;
  color: white;
  }

.assignment {
  font-size: 12px;
  line-height: 24px;
  background-color: darkslategray;
  color: white;
  font-family: Verdana, Tahoma, sans-serif, Times, serif, Courier, serif;
  padding: 20px 20px 20px 20px;
  width: 250px;
  height: 275px;
  overflow: hidden;
  float: left;
}

.assignment:hover { overflow:auto }

.assignment a {
    color: white;
    text-decoration: none;
}

.assignment a:hover {
  background: lightgray;
  color: lightgray;
  text-decoration: none;
}

.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

